---
import { getCollection } from "astro:content";
import Tag from "../../components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <header class="prose mx-auto max-w-4xl py-12 dark:prose-invert 2xl:prose-xl">
    <a
      href="/blog"
      class="align-self-start my-12 flex w-fit cursor-pointer items-center gap-2 self-start justify-self-start rounded-xl bg-brand-secondary py-2 px-4 text-lg font-light uppercase tracking-wide text-brand-secondary-light no-underline transition hover:bg-brand-secondary-light hover:text-brand-secondary-dark"
    >
      <i data-feather="arrow-left-circle" class="inline-block h-6 w-6"></i>
      <span> Go back</span>
    </a>

    <h1 class="prose-h1:mt-2">
      {entry.data.title}
    </h1>
    <div class="flex gap-2">
      {entry.data.tags.map((tag: string) => <Tag tag={tag} />)}
    </div>
  </header>

  <article class="prose mx-auto max-w-4xl dark:prose-invert lg:prose-lg">
    <Content />
  </article>
</BaseLayout>
