@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #041c32;
    --bg-light: #04293a;
    --bg-lighter: #064663;
    --body: #ecb365;
  }


  pre {
    @apply p-6 my-8 rounded-lg shadow-lg shadow-indigo-800/5;
    background: linear-gradient(to bottom right, #282c34, 80%, #393d45);
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }


  code {
    @apply border-2 border-indigo-50/20 font-light font-mono px-2 py-1 rounded text-indigo-50 text-sm relative bottom-1/2;
  }

    pre span{
      @apply leading-loose;
    }

    pre code {
      @apply bg-transparent py-0 px-0 text-base bottom-0 border-0 font-normal;
      counter-reset: step;
      counter-increment: step 0;
    }
    
    pre code > span::before {
      content: counter(step);
      counter-increment: step;
      width: 1rem;
      margin-right: 1.5rem;
      display: inline-block;
      text-align: right;
      color: rgba(115,138,148,.4);
      white-space: nowrap;
    }
}
