---
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../content/*.(md|mdx)");
---

<BaseLayout title="Welcome to Astro.">
  <section>
    <h1
      class="text-5xl uppercase font-mono border-2 border-white p-2 tracking-tight bg-emerald-900/50 shadow-sm shadow-emerald-900/90 text-center mb-0"
    >
      A Bit Better Than Yesterday
    </h1>
    <h2
      class="text-base font-extralight lowercase whitespace-nowrap text-whitetracking-wider mt-2 w-full text-right mb-0"
    >
      Growing one bit at a time.
    </h2>
  </section>

  <section>
    <h2 class="leading-tighter max-w-prose pt-4">
      <h2 class="font-bold">
        Welcome <span class="text-5xl animate-bounce">👋</span>
      </h2>
      <p>
        I am <span class="font-extrabold text-orange-600 font-sans">Aloys</span
        >, a developer currently based in Brisbane, in Australia.
      </p>
      <p>
        <code>A bit better than yesterday</code> is my personal web corner, where
        I share my thoughts, learning, opinions and projects.
      </p>
      <p>
        You might also come across some non-code related stuff, such as my
        passion for outdoors sports. Turns out there is more than coding to
        life!
      </p>
    </h2>
  </section>

  <section>
    <h2 class="font-bold">Latest articles</h2>
    <ul class="py-4">
      {
        allPosts.slice(0, 5).map((post) => (
          <li
            class="border-b border-emerald-900 py-1
              flex items-center justify-between"
          >
            <a href={`blog/${post.frontmatter.slug}`}>
              {post.frontmatter.title}

              <div class="flex gap-2">
                {post.frontmatter.tags.map((tag: string) => (
                  <a href="/tag">
                    <Tag tag={tag} size="xs" />
                  </a>
                ))}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <a
      href="/blog"
      class="bg-emerald-900 py-2 px-4 rounded-md inline-block mt-4 tracking-wide"
      >See more</a
    >
  </section>
</BaseLayout>
