---
import { getCollection } from "astro:content";
import Tag from "../components/Tag.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
---

<BaseLayout title="Welcome to Astro.">
  <main
    class="prose mx-auto flex max-w-4xl flex-grow flex-col gap-8 py-8 dark:prose-invert"
  >
    <section class="mx-auto font-[Comfortaa] sm:text-right">
      <h1 class="mb-0 text-5xl uppercase tracking-wide shadow-emerald-900/90">
        A Bit Better Than Yesterday<span
          class="text-emerald-600 dark:text-amber-500">.</span
        >
      </h1>
      <h2
        class="text-whitetracking-wider mt-2 mb-0 w-full whitespace-nowrap pr-1 text-base font-extralight lowercase"
      >
        Learning and sharing, one bit at a time
      </h2>
    </section>

    <section>
      <br class="leading-tighter max-w-prose" />
      <h2 class="font-bold">
        Welcome <span class="animate-bounce text-5xl">👋</span>
      </h2>
      <p>
        I am <span
          class="border-b border-emerald-600 font-[Comfortaa] font-extrabold tracking-wide dark:border-amber-500"
          >Aloys</span
        >, a developer based in Brisbane, in Australia.
      </p>
      <p>
        <span
          class="border-b border-emerald-600 font-[Comfortaa] font-extrabold dark:border-amber-500"
          >A Bit Better Than Yesterday</span
        > is my personal web corner, where I share my thoughts, learning, opinions
        and projects.
      </p>
      <p>
        You might also come across some non-code related stuff, such as my
        passion for outdoors sports. <br />Turns out there is more than coding
        to life!
      </p>
    </section>

    <section class="prose-a:no-underline">
      <h2>Latest articles</h2>
      <ul class="px-0">
        {
          allPosts.slice(0, 5).map((post) => (
            <li
              class="flex items-center justify-between
              border-b border-emerald-600/30 py-1"
            >
              <a href={`blog/${post.data.slug}`}>
                {post.data.title}

                <div class="flex gap-2">
                  {post.data.tags.map((tag: string) => (
                    <a href="/tag">
                      <Tag tag={tag} />
                    </a>
                  ))}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <a
        href="/blog"
        class="align-vertical group mt-4 inline-block justify-self-start rounded-md bg-emerald-900 py-2 px-4 tracking-wide text-emerald-50 no-underline hover:bg-emerald-800"
        >See all the articles published<i
          class="relative bottom-px ml-2 inline transition group-hover:bottom-0 group-hover:animate-bounce"
          data-feather="arrow-right"></i>
      </a>
    </section>
    <section>
      <h2>Projects</h2>
      <p class="text-slate-600">
        I have been quite busy lately, but stay tune I will add some showcases
        of the work I have conducted over the years.
      </p>
    </section>
  </main>
</BaseLayout>
