---
const { title, key } = Astro.props;
---

<h2
  class= "flex cursor-pointer items-center rounded py-4 px-2 transition hover:bg-slate-200 dark:hover:bg-brand-primary-light"
  style="margin-top: 0; margin-bottom: 0;"
  data-collapse-button
  data-target={`section-${key}`}
>
  <i
    data-feather="arrow-right-circle"
    data-rotate={`section-${key}`}
    class="mr-4 rotate-0 transition-transform"></i>
  {title}
</h2>

<div data-collapse={`section-${key}`} class="overflow-hidden transition-all">
  <slot />
</div>
