---
import FooterSocialMedialButton from "./FooterSocialMedialButton.astro";
import Logo from "./Logo.astro";
---

<footer
  class="flex flex-col items-center justify-center gap-8 py-16 md:flex-row md:p-8"
>
  <Logo />
  <div class="flex gap-4">
    <FooterSocialMedialButton
      title="email"
      icon="mail"
      link="https://mailhide.io/e/H8JLpqXh"
    />
    <FooterSocialMedialButton
      title="Github"
      icon="github"
      link="https://github.com/abitbetterthanyesterday"
    />
    <FooterSocialMedialButton
      title="linkedin"
      icon="linkedin"
      link="https://www.linkedin.com/in/aloysberger"
    />
  </div>
</footer>
