---
import FooterSocialMedialButton from "./FooterSocialMedialButton.astro";
import Logo from "./Logo.astro";
---

<footer
  class="flex flex-col items-center justify-center gap-8 py-16 md:flex-row md:p-8"
>
  <Logo />
  <div class="flex gap-4">
    <FooterSocialMedialButton title="email" icon="mail" />
    <FooterSocialMedialButton title="Github" icon="github" />
    <FooterSocialMedialButton title="Twitter" icon="twitter" />
  </div>
</footer>
