---
---

<div
  class="justify-self-start text-xl font-extrabold text-slate-800 dark:text-white"
>
  <p class="border-b-2 border-emerald-800 dark:border-amber-500">Aloys</p>
  <p class="text-xs font-thin mt-1 uppercase tracking-wider font-display after:content-[''] after:absolute relative after:-right-1 after:h-1 after:w-1 after:rounded-full dark:after:bg-amber-500 after:bg-emerald-800 after:bottom-1 text-slate-50/70">
    A bit better than yesterday
  </p>
</div>
