---
---

<div
  class="justify-self-start text-xl font-extrabold text-slate-800 dark:text-white"
>
  <p class="border-b-2 border-emerald-800 dark:border-amber-500">Aloys</p>
  <p
 class="text-xs font-thin mt-1 uppercase tracking-wider font-display   relative        text-slate-600/70 dark:text-slate-50/70 transition flex items-baseline gap-1" 
  >
    A bit better than yesterday
  <span class="
  block
  w-1
  h-1 rounded-full
bg-emerald-800
  dark:bg-amber-500
  "> 
  </span>
</p>
</div>
