---
---

<div
  class="justify-self-start text-xl font-extrabold text-slate-800 dark:text-white"
>
  <p class="border-b-2 border-emerald-800 dark:border-amber-500">Aloys</p>
  <p class="text-xs font-thin mt-1  uppercase tracking-wider opacity-70 font-display">
    A bit better than yesterday
  </p>
</div>
