---
---

<a
  class="justify-self-start text-xl font-extrabold text-slate-800 dark:text-white"
  href="/"
>
  <p class="border-b-2 border-emerald-800 dark:border-amber-500">Aloys</p>
  <p
    class="mt-1 font-display text-xs font-thin uppercase tracking-wider text-slate-600/70 transition dark:text-slate-50/70"
  >
    A bit better than yesterday
    <span
      class="h-0 self-end justify-self-end rounded-full text-4xl leading-3 text-emerald-800 dark:text-amber-500"
      >.</span
    >
  </p>
</a>
