---
---

<nav class="flex justify-start p-8 gap-8">
	<p class="text-xl font-extrabold">Alo</p>
   <div class="flex items-center justify-center gap-x-4">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
   </div>
</nav>
