---
import { generateRoutes } from "../routes";
// import ThemeToggle from './ThemeToggle.astro';
const currentUrl = new URL(Astro.request.url).pathname;
const routes = generateRoutes(currentUrl);
---

<nav class="grid grid-cols-3 justify-items-center items-center py-8">
  <p class="justify-self-start text-xl font-extrabold">
    Alo @ aBitBetterThanYesterday
  </p>

  <div
    class="flex items-center justify-center gap-x-4 rounded-md border px-2 py-2 relative overflow-hidden"
  >
    {
      routes.map(({ url, navTitle, isActive }) => (
        <a
          href={url}
          class={`z-10 ${isActive && "link--active"} grow-1 shrink-1`}
        >
          {navTitle}
        </a>
      ))
    }
  </div>

  <!-- <ThemeToggle/> -->
</nav>

<style>
  .link--active {
    color: var(--body);
    background-color: var(--body-lighter);
  }
</style>
