---
import DesktopNavigationLinks from "./DesktopNavigationLinks.astro";
import Logo from "./Logo.astro";
import MobileHamburger from "./MobileHamburger.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<nav
  class="xs:px-12 mx-auto grid w-full max-w-7xl grid-cols-2 justify-between px-0 py-4 sm:pt-12 md:grid-cols-3 "
>
  <Logo />
  <DesktopNavigationLinks />
  <div class="flex justify-end gap-8">
    <ThemeToggleButton />
    <MobileHamburger />
  </div>
</nav>
