---
const { tag} = Astro.props;
---

<div
  class={`bg-brand-primary-light text-white-subtle rounded-xl px-3 py-1 uppercase font-light tracking-widest shadow-sm shadow-emerald-700/5 cursor-pointer  text-sm`}
>
  {tag}
</div>
