---
const { tag } = Astro.props;
---

<div
  class={`bg-emerald-600 text-emerald-50 dark:text-slate-50 dark:bg-brand-primary-light rounded-xl px-3 py-1 uppercase font-light tracking-widest shadow-sm shadow-emerald-700/5 cursor-pointer  text-xs`}
>
  {tag}
</div>
