---
const { tag } = Astro.props;
---

<div
  class="bg-indigo-800 text-indigo-100 rounded-xl px-4 py-1 uppercase font-extralight tracking-widest shadow-sm shadow-indigo-700/5 cursor-pointer text-sm"
>
  {tag}
</div>
