---
import TimelineRightElement from './TimelineRightElement.astro';

---
<TimelineRightElement icon={"github"} date={"July 2012"}>
   <p>The content</p>
</TimelineRightElement>
<TimelineRightElement icon={"mail"} date={"July 2015"}>
   <p>The content</p>
   <img src="https://picsum.photos/id/237/200/300"/>
</TimelineRightElement>