---
import AboutContactCard from "../components/AboutContactCard.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="about">
  <div class="prose mx-auto pt-12 prose-h2:my-2 dark:prose-invert 2xl:prose-lg">
    <slot />
  </div>
  <AboutContactCard />
</BaseLayout>
