---
import "@fontsource/comfortaa";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ReadingProgressBar from "../components/ReadingProgressBar.astro";
import "../styles/base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="transition">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>aBitBetterThanYesterday:{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/within.min.css"
    />
    <script defer src="/_vercel/insights/script.js"></script>
    <script is:inline>
      // This prevents the page from flashing when rendering in the browser.
      document.documentElement.style.display = "hidden";
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "dark";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      document.documentElement.style.display = "auto";
    </script>
    <script is:inline src="/feather.min.js"></script>
  </head>
  <body
    class="m-0 flex min-h-screen w-screen flex-col overflow-x-hidden overscroll-none bg-slate-50 p-0 px-5 dark:bg-brand-primary dark:text-slate-50"
  >
    <ReadingProgressBar />
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer class="flex-grow-0" />

    <script is:inline>
      // @ts-ignore
      feather.replace();
    </script>
  </body>
</html>
