---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/base.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="/feather.min.js"
    ></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    </style>
  </head>
  <body
    class="flex flex-col min-h-screen min-w-screen bg-slate-200 dark:bg-brand-primary dark:text-slate-50 px-5"
  >
    <Navbar class="flex-grow-0" />
    <slot />
    <Footer class="flex-grow-0" />
  </body>
  <script is:inline>
    // @ts-ignore
    feather.replace();
  </script>
</html>
